.main-bg {
    /* background-image: url("assets/img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    height: 725px;
    
    }
    
    
    
    .navbar {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 10px 0;
    background-color: transparent;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #4c6d6d;
    }
    
    .navbar-header .navbar-brand {
    color:#4c6d6d;
    font-size: 2.0em;
    font-weight: bold;
    }
    
    .nav-link {
    color:#4c6d6d;
    }
    
    
    .brand-after {
    color:#4c6d6d;
    font-size: 0.5em;
    margin: 0 0 0 5px;
    position: relative;
    top: -4px;
    }
    .form-group{
    width: 60%;
    margin-bottom: 20px;
    }
    .textarea{
    width: 60%;
    height: 124px;
    }
    .form-inp{
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    }
    .form-message{
    width: 60%;
    height:120px;
    }
    .btn-download {
    margin: 65px 0 0 0;
    border-radius: 1.5px;
    background-color: #6fb048;
    color: #FFF;
    font-size: 1.0em;
    height: 50px;
    width: 300px;
    }
    .contact__submit {
    width: 192px;
    height: 42px;
    border: 0;
    margin: 5px;
    background-color: #6fb048;
    border-radius: 3px;
    color: #fff;
    
    }
    
    
    
    /* .form-contact{
    display: inline-block;
    }
    .form-group{
    display: block;
    }
    .headquarter{
    display: block;
    }
    */
    
    .form-contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    }
    
    
    
    /* element.style {
    } */
    .contact__row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
    user agent stylesheet
    div {
    display: block;
    }
    *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
    *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
    .form-group{
    display:grid;
    }
    
    
    
    
    /* .contact__description {
    max-width: 401px;
    margin: 0 auto 77px;
    color: #83a7a5;
    font-family: "RobotoRegular",sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    } */
    .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    }
    
    
    
    
    
    .half-right{
    border: dashed black;
    width: 250px;
    height: 200px;
    margin-left:700px;
    
    }
    .half-left{
    width: 750px;
    height: 550px;
    display:flex;
    
    }
    
    
    
    .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    
    .headquarter {
    max-height: 273px;
    border-width: 2px;
    border-style: dashed;
    border-color: #c1d3d2;
    
    }
    .contact__input {
    /* width: 510px; */
    height: 46px;
    margin:5px;
    }

    .footerSsylka {
        color: #0f5f5c;
        line-height: 2.5;
        text-decoration: none;
    }
    
    .pull-right {
        text-align: right;
        /* padding-bottom: 50px; */
    }

  .copyrights-text{
      text-align: left;
      margin-top: 55px;
  }



    