        .main-bg {
            background-image: url("assets/img/main-bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 725px;
        }
        
        .navbar {
            font-family: 'Montserrat', sans-serif;
            padding: 15px 0 10px 0;
            background-color: transparent;
            border: none;
            border-radius: none;
            border-bottom: 1px solid #4c6d6d;
        }
        
        .navbar-header .navbar-brand {
            color: #FFF;
            font-size: 2.0em;
            font-weight: bold;
        }
        
        .nav-link {
            color: white;
        }
        
        .main-slogan {
            text-align: center;
            color: white;
            padding-top: 110px;
        }
        
        .brand-after {
            color: #FFF;
            font-size: 0.5em;
            margin: 0 0 0 5px;
            position: relative;
            top: -4px;
        }
        
        .h1-main-slogan {
            font-size: 3.2em;
        }
        .container{
            color:#4c6d6d;
        }
        .row{
            margin-top: 4em;
        
        }
        .how-works-bg {
            background-color: #eef1ec;
           
        }
        /* .container-Meet{
            background: #0f5f5c;
        } */
        .name{
            text-align: left;
            font-weight: 700;
        }
        .work{
            text-align: left;
        }


        .before-footer-bg {
            background-image: url("assets/img/footer.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 200px;
        }
        
        .before-text {
            margin: 40px 0 0 0;
        }
        
        .btn-download {
            margin: 65px 0 0 0;
            border-radius: 1.5px;
            background-color: #6fb048;
            color: #FFF;
            font-size: 1.0em;
            height: 50px;
            width: 300px;
        }
        
        .footerSsylka {
            color: #0f5f5c;
            line-height: 2.5;
            text-decoration: none;
        }
        
        .pull-right {
            text-align: right;
            padding-bottom: 30px;
        }
      