/* .main-bg {
    background-image: url("assets/img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 725px;
} */

/* .navbar {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 10px 0;
    background-color: transparent;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #4c6d6d;
} */

.navbar-header .navbar-brand {
    color: #4c6d6d;;
    font-size: 2.0em;
    font-weight: bold;
}

.navbar-default .navbar-brand>span:first-child {
    color: #4c6d6d;
    font-size: 1.0em;
    margin: 0 0 0 10px;
    font-weight: normal;
}

.brand-after {
    color: #4c6d6d;;
    font-size: 0.5em;
    margin: 0 0 0 5px;
    position: relative;
    top: -4px;
}



/* .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #697f7f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */

/* .main-slogan {
    margin: 200px 0 0 0;
    width: 60%;
    color: white;
   
} */



.client-img {
    margin: 0 auto 75px auto;
}

.client-text {
    padding: 85px 5% 0 0;
}

.client-text {
    color: #83a7a5;
    font-size: 1.3em;
    line-height: 40px;
    font-family: 'Merriweather', serif;
}

.client-text>p {
    color: #6fb048;
    margin: 0 0 0 0;
}

.client-text>p:last-child {
    color: #83a7a5;
    margin: 0 0 0 0;
} */
/* .center-block {
width: 300px;
height: 300px;
margin-left: 800px;
: 300px;
} */







.row {
    color: #0f5f5c;
    
}

.before-footer-bg {
    background-image: url("assets/img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

.before-text {
    margin: 40px 0 0 0;
}

.btn-download {
    margin: 65px 0 0 0;
    border-radius: 1.5px;
    background-color: #6fb048;
    color: #FFF;
    font-size: 1.0em;
    height: 50px;
    width: 300px;
}

.footerSsylka {
    color: #0f5f5c;
    line-height: 2.5;
    text-decoration: none;
}

.pull-right {
    text-align: right;
    /* padding-bottom: 50px; */
}

.copyrights-text{
  text-align: left;
  margin-top: 55px;
}







.headquarter {
    max-height: 273px;
    border-width: 2px;
    border-style: dashed;
    border-color: #c1d3d2;
    
    }

    .nav-link {
        color: #4c6d6d;;
    }

    .form-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        
        }

        .contact__row {
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            }

            .headquarter {
                max-height: 273px;
                border-width: 2px;
                border-style: dashed;
                border-color: #c1d3d2;
                
                }
                .contact__input {
                /* width: 510px; */
                height: 46px;
                margin:5px;
                }

                

                /* .brand-after {
                    color:#4c6d6d;
                    font-size: 0.5em;
                    margin: 0 0 0 5px;
                    position: relative;
                    top: -4px;
                    }
                    .form-group{
                    width: 60%;
                    margin-bottom: 20px;
                    }
                    .textarea{
                    width: 60%;
                    height: 124px;
                    }
                    .form-inp{
                    width: 60%;
                    height: 40px;
                    margin-bottom: 20px;
                    }
                    .form-message{
                    width: 60%;
                    height:120px;
                    } */
                    .btn-download {
                    margin: 65px 0 0 0;
                    border-radius: 1.5px;
                    background-color: #6fb048;
                    color: #FFF;
                    font-size: 1.0em;
                    height: 50px;
                    width: 300px;
                    }
                    .contact__submit {
                    width: 192px;
                    height: 42px;
                    border: 0;
                    margin: 5px;
                    background-color: #6fb048;
                    border-radius: 3px;
                    color: #fff;
                    
                    }

                    .row{
                        margin-top: 4em;
                    
                    }
                    