.main-bg {
    /* background-image: url("assets/img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    height: 925px;
    background-color: #eef1ec;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 10px 0;
    background-color: transparent;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #4c6d6d;
}

.navbar-header .navbar-brand {
    color:#4c6d6d;
    font-size: 2.0em;
    font-weight: bold;
}

.nav-link {
    color:#4c6d6d;
}

.main-slogan {
    text-align: center;
    color:#4c6d6d;
    padding-top: 110px;
}
.brand-after {
    color:#4c6d6d;
    font-size: 0.5em;
    margin: 0 0 0 5px;
    position: relative;
    top: -4px;
}
/* .main-bg{
     color:#4c6d6d;
} */

.sas {
    border: 1px solid #0f5f5c;
}

.priceH4 {
    color: #6fb048;
    font-size: 1.8em;
}

.priceH3 {
    color: #0f5f5c;
    font-size: 5.0em;
}

.priceH5 {
    color: #0f5f5c;
    font-size: 1.2em;
}

.priceText {
    color: #0f5f5c;
    font-size: 1.2em;
}
.btn-price.active {
    background-color: #6fb048;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* .row{
    background: white;
} */



/*  */

.btn-price.active {
    background-color: #6fb048;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.row {
    color: #0f5f5c;
    
}

.before-footer-bg {
    background-image: url("assets/img-Pricing/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

.before-text {
    margin: 40px 0 0 0;
}

.btn-download {
    margin: 65px 0 0 0;
    border-radius: 1.5px;
    background-color: #6fb048;
    color: #FFF;
    font-size: 1.0em;
    height: 50px;
    width: 300px;
}

.footerSsylka {
    color: #0f5f5c;
    line-height: 2.5;
    text-decoration: none;
}

.pull-right {
    text-align: right;
    
}

.copyrights-text{
  text-align: left;
  margin-top: 55px;
}


.row{
    margin-top: 4em;
}







