                                                                                                                   .main-bg {
                                                                                                                       background-image: url("assets/img/main-bg.png");
                                                                                                                       background-size: cover;
                                                                                                                       background-repeat: no-repeat;
                                                                                                                       background-position: center center;
                                                                                                                       height: 725px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar {
                                                                                                                       font-family: 'Montserrat', sans-serif;
                                                                                                                       padding: 15px 0 10px 0;
                                                                                                                       background-color: transparent;
                                                                                                                       border: none;
                                                                                                                       border-radius: none;
                                                                                                                       border-bottom: 1px solid #4c6d6d;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-header .navbar-brand {
                                                                                                                       color: #FFF;
                                                                                                                       font-size: 2.0em;
                                                                                                                       font-weight: bold;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-brand>span:first-child {
                                                                                                                       color: #4c6d6d;
                                                                                                                       font-size: 1.0em;
                                                                                                                       margin: 0 0 0 10px;
                                                                                                                       font-weight: normal;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .brand-after {
                                                                                                                       color: #FFF;
                                                                                                                       font-size: 0.5em;
                                                                                                                       margin: 0 0 0 5px;
                                                                                                                       position: relative;
                                                                                                                       top: -4px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-nav>li>a {
                                                                                                                       color: #cdd1d1;
                                                                                                                       font-size: 0.9em;
                                                                                                                       list-style-type: none;
                                                                                                                       overflow: hidden;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-nav>.active>a,
                                                                                                                   .navbar-default .navbar-nav>.active>a:focus,
                                                                                                                   .navbar-default .navbar-nav>.active>a:hover {
                                                                                                                       background-color: transparent;
                                                                                                                       color: #FFF;
                                                                                                                       font-size: 0.9em;
                                                                                                                       list-style-type: none;
                                                                                                                       overflow: hidden;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .nav-open .navbar-nav>li:last-child>a {
                                                                                                                       color: #FFF;
                                                                                                                       background-color: #697f7f;
                                                                                                                       position: relative;
                                                                                                                       top: 5px;
                                                                                                                       margin: 5px 0 0 0;
                                                                                                                       padding: 5px 5px 0 5px;
                                                                                                                       height: 30px;
                                                                                                                       width: 100%;
                                                                                                                       border-radius: 3px;
                                                                                                                       font-size: 0.9em;
                                                                                                                       list-style-type: none;
                                                                                                                       overflow: hidden;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-nav>li>a:hover {
                                                                                                                       color: #FFF;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-nav>li>a:before {
                                                                                                                       content: "";
                                                                                                                       position: absolute;
                                                                                                                       width: 100%;
                                                                                                                       height: 2px;
                                                                                                                       bottom: 0;
                                                                                                                       left: 0;
                                                                                                                       background-color: #697f7f;
                                                                                                                       visibility: hidden;
                                                                                                                       -webkit-transform: scaleX(0);
                                                                                                                       transform: scaleX(0);
                                                                                                                       -webkit-transition: all 0.3s ease-in-out 0s;
                                                                                                                       transition: all 0.3s ease-in-out 0s;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .navbar-default .navbar-nav>li>a:hover:before {
                                                                                                                       visibility: visible;
                                                                                                                       -webkit-transform: scaleX(1);
                                                                                                                       transform: scaleX(1);
                                                                                                                   }
                                                                                                                   
                                                                                                                   .main-slogan {
                                                                                                                       margin: 200px 0 0 0;
                                                                                                                       width: 60%;
                                                                                                                       color: white;
                                                                                                                       /* opacity: 0; */
                                                                                                                   }
                                                                                                                   
                                                                                                                   .nav-link {
                                                                                                                       color: white;
                                                                                                                   }
                                                                                                                   /* Looking for the perfect template to use */
                                                                                                                   
                                                                                                                   .how-works-text .inline-box {
                                                                                                                       display: inline-flex;
                                                                                                                       margin: 25px 0 0 0;
                                                                                                                   }
                                                                                                                   /* .how-works-text .inline-box>img {
                                                           margin: 0 10px 0 0;
                                                       } */
                                                                                                                   
                                                                                                                   .how-works-text .inline-box>p {
                                                                                                                       margin: 4px 0 0 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .how-works-text {
                                                                                                                       padding: 50px 15% 50px 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .how-works-text>h1 {
                                                                                                                       margin: 15px 0 20px 0;
                                                                                                                       color: #0f5f5c;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .how-works-bg {
                                                                                                                       background-color: #eef1ec;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .phone-img-bg {
                                                                                                                       background-image: url("assets/img/phone.png");
                                                                                                                       background-size: contain;
                                                                                                                       background-repeat: no-repeat;
                                                                                                                       background-position: center center;
                                                                                                                       height: 525px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .text {
                                                                                                                       text-align: left;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .inline-box {
                                                                                                                       /* font-size: 1.2em;
                                                               margin: 15px 0 15px 0;
                                                               color: #0f5f5c; */
                                                                                                                       display: inline-flex;
                                                                                                                       margin: 25px 0 0 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .inline-boxTwo {
                                                                                                                       text-align: left;
                                                                                                                       margin-left: 8px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .img-responsive {
                                                                                                                       margin: 8px 10px 0 0;
                                                                                                                       height: 30px;
                                                                                                                   }
                                                                                                                   /* girl */
                                                                                                                   
                                                                                                                   .client-box {
                                                                                                                       padding: 50px 0 0 0;
                                                                                                                       margin: 0 0 0px 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .client-img {
                                                                                                                       margin: 0 auto 75px auto;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .client-text {
                                                                                                                       padding: 85px 5% 0 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .client-text {
                                                                                                                       color: #83a7a5;
                                                                                                                       font-size: 1.3em;
                                                                                                                       line-height: 40px;
                                                                                                                       font-family: 'Merriweather', serif;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .client-text>p {
                                                                                                                       color: #6fb048;
                                                                                                                       margin: 0 0 0 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .client-text>p:last-child {
                                                                                                                       color: #83a7a5;
                                                                                                                       margin: 0 0 0 0;
                                                                                                                   }
                                                                                                                   /* .center-block {
                                                           width: 300px;
                                                           height: 300px;
                                                           margin-left: 800px;
                                                           : 300px;
                                                       } */
                                                                                                                   
                                                                                                                   .map-bg {
                                                                                                                       background-image: url("assets/img/map.png");
                                                                                                                       background-size: contain;
                                                                                                                       background-repeat: no-repeat;
                                                                                                                       background-position: center center;
                                                                                                                       height: 250px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .map-text {
                                                                                                                       padding: 25px 5% 25px 10%;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .sas {
                                                                                                                       border: 1px solid #0f5f5c;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .priceH4 {
                                                                                                                       color: #6fb048;
                                                                                                                       font-size: 1.8em;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .priceH3 {
                                                                                                                       color: #0f5f5c;
                                                                                                                       font-size: 5.0em;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .priceH5 {
                                                                                                                       color: #0f5f5c;
                                                                                                                       font-size: 1.2em;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .priceText {
                                                                                                                       color: #0f5f5c;
                                                                                                                       font-size: 1.2em;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .btn-price.active {
                                                                                                                       background-color: #6fb048;
                                                                                                                       -webkit-box-shadow: none;
                                                                                                                       box-shadow: none;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .row {
                                                                                                                       color: #0f5f5c;
                                                                                                                       
                                                                                                                   }
                                                                                                                   
                                                                                                                   .before-footer-bg {
                                                                                                                       background-image: url("assets/img/footer.png");
                                                                                                                       background-size: cover;
                                                                                                                       background-repeat: no-repeat;
                                                                                                                       background-position: center center;
                                                                                                                       height: 200px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .before-text {
                                                                                                                       margin: 40px 0 0 0;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .btn-download {
                                                                                                                       margin: 65px 0 0 0;
                                                                                                                       border-radius: 1.5px;
                                                                                                                       background-color: #6fb048;
                                                                                                                       color: #FFF;
                                                                                                                       font-size: 1.0em;
                                                                                                                       height: 50px;
                                                                                                                       width: 300px;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .footerSsylka {
                                                                                                                       color: #0f5f5c;
                                                                                                                       line-height: 2.5;
                                                                                                                       text-decoration: none;
                                                                                                                   }
                                                                                                                   
                                                                                                                   .pull-right {
                                                                                                                       text-align: right;
                                                                                                                       /* padding-bottom: 50px; */
                                                                                                                   }
                                                                                                                 /* .pull-right{
                                                                                                                     margin-top: 25px;
                                                                                                                 } */
                                                                                                                 .copyrights-text{
                                                                                                                     text-align: left;
                                                                                                                     margin-top: 55px;
                                                                                                                 }
                                                                                                               /* .line-about {
                                                                                                                background-color: #6fb048;
                                                                                                                width: 75px;
                                                                                                                height: 1px;
                                                                                                                align-items: center;
                                                                                                                justify-content: center;
                                                                                                                display: flex;
                                                                                                                text-align: center;
                                                                                                            }
                                                                                                          */


                                                                                                         